name: Build a WAR file and deploy into Tomcat 
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Build with Maven
      run: mvn clean install -f pom.xml 
    - name: Deploy to Tomcat 
      run: |
        curl -v -u TOMCAT_USER:TOMCAT_PASSWORD \
         -T Maven_war/target/java-tomcat-maven-example.war \
         "http://TOMCAT_HOST:8080/manager/text/deploy?path=/Maven_war&update=true"
